<!DOCTYPE html>
<html>
<head>
	<title>Employee Management</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/dashboard.css">
    <link rel="stylesheet" href="./css/tailwind.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
   
</head>
<body>
    <script type="text/javascript">
        var msg='<%= alertType%>';
        if(msg=="invalid")
            alert("Invalid User Name or Password");
        if(msg=="unauthorised")
            alert("Unauthorised User Please Login");
        
    </script>
	<header class="border-b  p-6 text-center bg-gray-100 flex justify-between item-center">
       <a href="/" class="font-extrabold text-4lg hover:no-underline hover:text-black">Employee Management</a>
    </header>
    <div class="container">
        <div class="form-group bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <form id="form" method="post" action="/dashboard" >
                <h1 class="text-5xl text-center font-semibold ">User Login</h1>
                <div class="mb-4">
                    <label class="form-label font-bold mb-2">
                    <strong>User Name <span class="text-red-500 font-extrabold">*</span></strong>
                    </label>
                    <input type="text" id="usernm" name="usernm" placeholder="User Name" required="" class="form-label shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>

                <div class="mb-6">
                    <label class="form-label font-bold mb-2" for="password">
                    <strong>Password <span class="text-red-500 font-extrabold"> *</span></strong>
                    </label>
                    <input type="password" id="password" name="password" placeholder="Password" required="" class="form-label shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="flex items-center justify-between">
                    <input type="submit" value="Login" class="btn btn-primary">
                    <a href="/forgetPassword">Do you forgot password?</a>
                </div>                   
            </form>
        </div>
    </div>
	<footer class="font-bold mt-3 bottom-0 bg-gray-300 text-center  p-3 w-full">
        &copy; Sumit Borse 2020
    </footer>  
</body>
